<form id="message" name="message">
    <textarea name="mess" cols=40 rows=4 id="mes">
    </textarea>
</form>
<tr>
<a href="javascript:void(0);" id="start_gps" class = "btn btn-danger">ここを呪う</a>
</tr>

